@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@400;700&family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif;
  padding-bottom: 100px;
  color: #222;
}
body .container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
body header {
  margin-bottom: 5px;
  background: #6f966f;
}
body header a {
  display: block;
  padding: 40px;
  font-family: "Noto Serif Display", serif;
  font-size: 40px;
  font-weight: normal;
  color: #fff;
  text-align: center;
}
body main h2 {
  text-align: center;
  line-height: 40px;
  margin: 40px 0;
  color: #222;
}
body main .cards {
  display: flex;
  flex-wrap: wrap;
}
body main .cards a {
  background-size: cover;
  background-position: top;
  width: calc(50% - 10px);
  height: 400px;
  margin: 5px;
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  transition: 0.6s;
  filter: brightness(90%);
  filter: grayscale(100%);
}
body main .cards a.year1950 {
  background-image: url("1950.jpg");
}
body main .cards a.year1960 {
  background-image: url("1960.jpg");
}
body main .cards a.year1970 {
  background-image: url("1970.jpg");
}
body main .cards a.year1980 {
  background-image: url("1980.jpg");
}
body main .cards a.year1990 {
  background-image: url("1990.jpg");
}
body main .cards a.year2000 {
  background-image: url("2000/0.jpg");
}
body main .cards a:hover {
  filter: brightness(110%);
  filter: grayscale(0%);
}
body main .cards a h3 {
  text-align: center;
  font-size: 60px;
  padding: 40px 0;
  color: white;
  width: 100%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1333333333);
}
body main .tabs {
  font-size: 0;
  margin-top: 20px;
}
body main .tabs button {
  font-size: 16px;
  padding: 0 15px;
  cursor: pointer;
  background: #fff;
  opacity: 0.5;
  transition: 0.3s;
  font-family: "Raleway", sans-serif;
  border: none;
  line-height: 40px;
  color: #222;
}
body main .tabs button:hover {
  opacity: 1;
}
body main .tabs button.activeBtn {
  opacity: 1;
  background: rgba(111, 150, 111, 0.3333333333);
}
body main .tabcontent {
  display: none;
}
body main .tabcontent h3 {
  margin: 40px 0 10px;
}
body main .tabcontent.activeTab {
  display: block;
}
body main .tabcontent img {
  max-width: 400px;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}
body main .tabcontent .tabContentImages {
  font-size: 0;
  text-align: center;
}
body main .tabcontent .tabContentImages img {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  width: calc(100% - 20px);
  max-width: 350px;
}
body main .hero .mainImage {
  max-width: 400px;
  height: 300px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 40px;
}
body main .hero p {
  margin: auto;
  margin-bottom: 40px;
}
body main .hero .video {
  width: 90%;
  margin: auto;
  max-width: 600px;
  height: 400px;
  display: block;
}

.floating {
  float: right;
  display: inline-block;
  margin: 20px;
  text-align: center;
}
.floating figcaption {
  color: #777;
}
.floating .floatingImg {
  margin-bottom: 10px;
  max-width: 600px;
  width: 100%;
}

.winter1950 img {
  max-width: 350px !important;
}

.selfmadeImage {
  max-width: 350px !important;
}

@media (max-width: 600px) {
  body header {
    margin-bottom: 10px;
  }
  body main .cards a {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=style.css.map */