@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@400;700&family=Raleway:wght@400;700&display=swap')
*
    margin: 0
    padding: 0

body
    .container
        width: 90%
        max-width: 1200px
        margin: auto
    header
        margin-bottom: 5px
        // background: linear-gradient(270deg, #8759c455 5.32%, #1d9be5 100.04%)
        background: linear-gradient(270deg, #9559C4 5.32%, #66B0D9 100.04%)
        h2
            // line-height: 30px
            padding: 40px
            font-family: 'Noto Serif Display', serif
            font-size: 40px
            font-weight: normal
            color: #fff
            text-align: center
            // font-family: 'Raleway', sans-serif

    main
        .cards
            display: flex
            flex-wrap: wrap
            a
                background-size: cover
                background-position: top
                width: calc(50% - 10px)
                height: 400px
                // flex-grow: 1
                margin: 5px
                display: flex
                align-items: flex-end
                text-decoration: none
                &.year1950
                    background-image: url("1950.jpg")
                &.year1960
                    background-image: url("1960.jpg")
                &.year1970
                    background-image: url("1970.jpg")
                &.year1980
                    background-image: url("1980.jpg")
                &.year1990
                    background-image: url("1990.jpg")
                &.year2000
                    background-image: url("2000.jpg")
                h3
                    text-align: center
                    font-family: 'Raleway', sans-serif
                    font-size: 60px
                    padding: 40px 0
                    color: white
                    width: 100%
@media (max-width: 600px)
    body
        header
            margin-bottom: 10px
        main
            .cards  
                a
                    width: 100%
                    margin: 0
                    margin-bottom: 10px